@page
@model TopAutoSpot.Views.Notifications.IndexModel
@{
    ViewData["Title"] = "Notifications";
}

<div>
    <div class="mt-3 mb-5">
        <h1 class="fw-bold website-text-darker-nohover">@ViewData["Title"]</h1>
        <p class="fw-bold website-text-nohover"><i>Notifications are ordered by send date!</i></p>
        <hr />
    </div>

    <div class="border border-dark pb-3 pt-3 px-3">
        @if (Model.Notifications.Count == 0)
        {
            <h3 class="website-text-darker-nohover">Your inbox is empty.</h3>
            <p class="website-text-nohover"><i>You must be having a chilly day out there!</i></p>
            <img class="rounded mt-3 mb-5" src="~/gifs/noNotifications.gif" />
        }
        else
        {
            <div class="d-flex flex-column">
                @foreach (var notification in Model.Notifications)
                {
                    <div class="mb-5 mt-5">
                        <a class="text-decoration-none" asp-route-id="@notification.Id" asp-page="/Notifications/Preview">
                            <h2 class="fw-bold website-text-main">@notification.Title</h2>
                            <h4 class="fw-bold">@Model.GetNotificationSender(@notification.From)</h4>
                        </a>

                        <a asp-page="/Notifications/NotificationRemoved" asp-route-id="@notification.Id" class="fw-bold btn-danger btn rounded text-light">Delete</a>
                    </div>
                }
            </div>
        }
    </div>

    <div class="mt-5 mb-3">
        <a class="btn website-background-outline-main fw-bold rounded" asp-page="/Index">Go Back</a>
    </div>

    <div class="mt-5 mb-3">
        <hr />
    </div>
</div>