@page
@model TopAutoSpot.Views.TrailerModelCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].ManufactoreDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].Payload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer[0].AxleCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trailer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactoreDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AxleCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
