@page
@model TopAutoSpot.Views.MyVehicles.CarCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="fw-bold text-secondary">Your Car Details</h1>
<hr />
<br />

<div class="border border-dark rounded d-flex flex-lg-wrap bg-light mt-3 mb-3">
    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.CreatedAt)</p>
            <p class="fs-4 text-warning">@Html.DisplayFor(model => model.Car.CreatedAt)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Title)</p>
            <p class="fs-4 text-warning">@Html.DisplayFor(model => model.Car.Title)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Description)</p>
            <p class="fs-4 text-warning">@Html.DisplayFor(model => model.Car.Description)</p>
        </div>
    </div>

    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Price)</p>
            <p class="fs-4 site-text-color">@Html.DisplayFor(model => model.Car.Price)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.ManufactureDate)</p>
            <p class="fs-4 site-text-color">@Html.DisplayFor(model => model.Car.ManufactureDate)</p>
        </div>
    </div>

    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Make)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Car.Make)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Model)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Car.Model)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.HorsePower)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Car.HorsePower)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Mileage)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Car.Mileage)</p>
        </div>
    </div>

    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.Transmission)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Car.Transmission)</p>
        </div>

        <div>
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.EngineType)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Car.EngineType)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Car.EuroStandart)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Car.EuroStandart)</p>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary fw-bold mb-3 mt-3" asp-page="./Edit" asp-route-id="@Model.Car?.Id">Edit</a>
    <br />
    <a class="fw-bold btn btn-outline-warning mb-3 mt-3" asp-page="/MyVehicles/Index">Go Back</a>
</div>