@page
@model TopAutoSpot.Views.MyVehicles.CarCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].HorsePower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].EngineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].EuroStandart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EuroStandart)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
