@page
@model TopAutoSpot.Views.MyVehicles.MotorcycleCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="fw-bold text-secondary">Your Motorcycle Details</h1>
<hr />
<br />

<div class="border border-dark rounded d-flex flex-lg-wrap bg-light mt-3 mb-3 justify-content-center">
    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.CreatedAt)</p>
            <p class="fs-4 text-warning">@Html.DisplayFor(model => model.Motorcycle.CreatedAt)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Title)</p>
            <p class="fs-4 text-warning">@Html.DisplayFor(model => model.Motorcycle.Title)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Description)</p>
            <p class="fs-4 text-warning">@Html.DisplayFor(model => model.Motorcycle.Description)</p>
        </div>
    </div>

    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Price)</p>
            <p class="fs-4 site-text-color">@Html.DisplayFor(model => model.Motorcycle.Price)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.ManufactureDate)</p>
            <p class="fs-4 site-text-color">@Html.DisplayFor(model => model.Motorcycle.ManufactureDate)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Location)</p>
            <p class="fs-4 site-text-color">@Html.DisplayFor(model => model.Motorcycle.Location)</p>
        </div>
    </div>

    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Make)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Motorcycle.Make)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Model)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Motorcycle.Model)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.HorsePower)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Motorcycle.HorsePower)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.CubicCapacity)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Motorcycle.CubicCapacity)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Mileage)</p>
            <p class="fs-4 text-primary">@Html.DisplayFor(model => model.Motorcycle.Mileage)</p>
        </div>
    </div>

    <div class="flex-column m-2 px-4">
        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.Transmission)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Motorcycle.Transmission)</p>
        </div>

        <div>
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.EngineType)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Motorcycle.EngineType)</p>
        </div>

        <div class="p-3">
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.CoolingType)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Motorcycle.CoolingType)</p>
        </div>

        <div>
            <p class="fs-3 fw-bold text-dark">@Html.DisplayNameFor(model => model.Motorcycle.EngineStrokes)</p>
            <p class="fs-4 text-secondary">@Html.DisplayFor(model => model.Motorcycle.EngineStrokes)</p>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary fw-bold mb-3 mt-3" asp-page="./Edit" asp-route-id="@Model.Motorcycle?.Id">Edit</a>
    <br />
    <a class="fw-bold btn btn-outline-warning mb-3 mt-3" asp-page="/MyVehicles/Index">Go Back</a>
</div>