@page
@model TopAutoSpot.Views.BusModelCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.ManufactoreDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.ManufactoreDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.HorsePower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.HorsePower)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Mileage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.Transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.Transmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.EngineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.EngineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.EuroStandart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.EuroStandart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.AxlesCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.AxlesCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.SeatsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.SeatsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bus.LoadCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bus.LoadCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bus?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
