@page
@using TopAutoSpot.Data.Models.Enums;
@model TopAutoSpot.Views.AuctionViews.IndexModel
@{
    ViewData["Title"] = "Auctions";
}

<div class="pt-3">
    <h1 class="website-text-darker-nohover fw-bold">All Available Auctions</h1>
    <p class="fw-bold website-text-nohover"><i>Here you will see all available auctions on the website.</i></p>
    <p class="fw-bold text-danger"><i>Auctions with less than 3 bidders are automatically closed.</i></p>
    <hr />
</div>

<div>
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/AuctionViews/Create">New Auction</a>
</div>
<hr />
<br />

@if (Model.OverallAuctions == 0)
{
    <h3 class="text-danger fw-bold fs-4">No Auctions Available :(</h3>

    <br />

    <img class="custom-rounded account-management-image mt-3 mb-3" src="~/gifs/noAuctions.gif" />
}
else
{
    <div class="mt-3 mb-5">
        @if (Model.StartingSoonAuctionsForCurrentUser.Count > 0)
        {
            <h2 class="website-text-nohover fw-bold">Starting Soon</h2>
            <hr />
            <br />

            <div class="d-flex flex-row flex-wrap mt-3">
                @foreach (var auction in Model.StartingSoonAuctionsForCurrentUser)
                {
                    <div class="row">
                    <a asp-page="/AuctionViews/AuctionBid" asp-route-id="@auction.Id" class="text-decoration-none site-text-color-btn fw-bold car-title mb-1">
                        <img class="listing-image custom-rounded" src="@Model.GetAuctionImage(auction.Id)" />

                        @if (auction.Title.Length > 22)
                        {
                            <p class="fs-4 fw-bold website-text-darker-nohover">@string.Join("", auction.Title.Take(22))..</p>
                        }
                        else
                        {
                            <p class="fs-4 fw-bold website-text-darker-nohover">@auction.Title</p>
                        }
                    </a>
                    <p class="fs-4 fw-bold website-text-nohover">Starting Price: $@auction.StartingPrice</p>
                    </div>
                }
            </div>
        }
    </div>

    <div class="mt-5 mb-5">
        @if (Model.ActiveAuctions.Count > 0)
        {
            <h2 class="website-text-nohover fw-bold">Active Auctions</h2>
            <hr />
            <br />
            <div class="d-flex flex-row mt-3">
                @foreach (var auction in Model.ActiveAuctions)
                {
                    <div class="d-flex flex-column mx-3 single-car">
                        <a asp-page="/VehiclePreview/AuctionPreview" asp-route-id="@auction.Id" class="text-decoration-none site-text-color-btn fw-bold mb-1">
                            <img class="listing-image custom-rounded" src="@Model.GetAuctionImage(auction.Id)" />

                            @if (auction.Title.Length > 22)
                            {
                                <p class="fs-4 fw-bold website-text-darker-nohover">@string.Join("", auction.Title.Take(22))..</p>
                            }
                            else
                            {
                                <p class="fs-4 fw-bold website-text-darker-nohover">@auction.Title</p>
                            }

                            <p class="fs-4 fw-bold website-text-nohover">Starting Price: $@auction.StartingPrice</p>
                        </a>

                        @if (!auction.Bidders.Any(b => b.UserName == Model.CurrentUser.UserName))
                        {
                            <div>
                                <a class="btn btn-warning text-light fw-bold" asp-page="/AuctionViews/Join" asp-route-id="@auction.Id">Join</a>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

@if (User.IsInRole(RoleTypes.User.ToString()) || !User.Identity.IsAuthenticated)
{
    <div class="mt-5">
        <h1 class="website-text-nohover fw-bold">News</h1>
        <hr />
    </div>

    <div class="border-top border-dark text-light bg-dark mb-3 mt-3 custom-rounded mx-auto">
        @if (Model.News.Count > 0)
        {

            <div class="d-flex flex-row flex-wrap justify-content-around">
                @foreach (var singleNew in Model.News)
                {
                    <div class="d-flex flex-column mx-3 single-new-box">
                        <a class="text-decoration-none" href="@singleNew.Url">
                            <img class="custom-rounded single-new-image mb-3" src="@singleNew.UrlToImage" />
                            <p class="text-light fw-bold">@singleNew.Title</p>
                        </a>
                    </div>
                }
            </div>

        }
        else
        {
            <h3 class="px-3 pt-3 pb-3 text-light">Error loading the news...</h3>
        }
    </div>

    <div>
        <hr />
    </div>
}