@page
@model TopAutoSpot.Views.MyVehicles.IndexModel
@{
    ViewData["Title"] = "My Vehicles";
}

<h1 class="mb-3 mt-4">@ViewData["Title"]</h1>
<hr />

<p><i>Here you will see all your vehicles.</i></p>
<hr />

<p class="text-info fw-bold fs-4">Add New</p>
<a class="btn btn-outline-info fw-bold mt-2 mx-1" asp-page="/MyVehicles/CarCRUD/Create">Car</a>
<a class="btn btn-outline-info fw-bold mt-2 mx-1" asp-page="/MyVehicles/TruckCRUD/Create">Truck</a>
<a class="btn btn-outline-info fw-bold mt-2 mx-1" asp-page="/MyVehicles/TrailerCRUD/Create">Trailer</a>
<a class="btn btn-outline-info fw-bold mt-2 mx-1" asp-page="/MyVehicles/MotorcycleCRUD/Create">Motorcycle</a>
<a class="btn btn-outline-info fw-bold mt-2 mx-1" asp-page="/MyVehicles/BoatCRUD/Create">Boat</a>
<a class="btn btn-outline-info fw-bold mt-2 mx-1" asp-page="/MyVehicles/BusCRUD/Create">Bus</a>
<hr />
<br />

@if (Model.OverallCount == 0)
{
    // No vehicles available.
    <img class="rounded-3 mt-3 mb-3" src="~/gifs/noVehicles.gif" />
}
else
{
    // Display all owned vehicles.
    <div class="all-vehicles">
        @foreach (var car in Model.Cars)
        {
            <h1>@car.Title</h1>
            <h2>@car.Make</h2>
            <h3>@car.Model</h3>
            <a asp-page="/MyVehicles/CarCRUD/Edit" asp-route-id="@car.Id">Edit</a>
            <a asp-page="/MyVehicles/CarCRUD/Details" asp-route-id="@car.Id">Details</a>
            <a asp-page="/MyVehicles/CarCRUD/Delete" asp-route-id="@car.Id">Delete</a>
        }
        @foreach (var motorcycle in Model.Motorcycles)
        {
            <h1>@motorcycle.Title</h1>
            <h2>@motorcycle.Make</h2>
            <h3>@motorcycle.Model</h3>
            <a asp-page="/MyVehicles/MotorcycleCRUD/Edit" asp-route-id="@motorcycle.Id">Edit</a>
            <a asp-page="/MyVehicles/MotorcycleCRUD/Details" asp-route-id="@motorcycle.Id">Details</a>
            <a asp-page="/MyVehicles/MotorcycleCRUD/Delete" asp-route-id="@motorcycle.Id">Delete</a>
        }
        @foreach (var trailer in Model.Trailers)
        {
            <h1>@trailer.Title</h1>
            <h2>@trailer.Description</h2>
            <h3>@trailer.Price</h3>
            <a asp-page="/MyVehicles/TrailerCRUD/Edit" asp-route-id="@trailer.Id">Edit</a>
            <a asp-page="/MyVehicles/TrailerCRUD/Details" asp-route-id="@trailer.Id">Details</a>
            <a asp-page="/MyVehicles/TrailerCRUD/Delete" asp-route-id="@trailer.Id">Delete</a>
        }
        @foreach (var truck in Model.Trucks)
        {
            <h1>@truck.Title</h1>
            <h2>@truck.Make</h2>
            <h3>@truck.Model</h3>
            <a asp-page="/MyVehicles/TruckCRUD/Edit" asp-route-id="@truck.Id">Edit</a>
            <a asp-page="/MyVehicles/TruckCRUD/Details" asp-route-id="@truck.Id">Details</a>
            <a asp-page="/MyVehicles/TruckCRUD/Delete" asp-route-id="@truck.Id">Delete</a>
        }
        @foreach (var bus in Model.Buses)
        {
            <h1>@bus.Title</h1>
            <h2>@bus.Make</h2>
            <h3>@bus.Model</h3>
            <a asp-page="/MyVehicles/BusCRUD/Edit" asp-route-id="@bus.Id">Edit</a>
            <a asp-page="/MyVehicles/BusCRUD/Details" asp-route-id="@bus.Id">Details</a>
            <a asp-page="/MyVehicles/BusCRUD/Delete" asp-route-id="@bus.Id">Delete</a>
        }
        @foreach (var boat in Model.Boats)
        {
            <h1>@boat.Title</h1>
            <h2>@boat.Make</h2>
            <h3>@boat.Model</h3>
            <a asp-page="/MyVehicles/BoatCRUD/Edit" asp-route-id="@boat.Id">Edit</a>
            <a asp-page="/MyVehicles/BoatCRUD/Details" asp-route-id="@boat.Id">Details</a>
            <a asp-page="/MyVehicles/BoatCRUD/Delete" asp-route-id="@boat.Id">Delete</a>
        }
    </div>
}