@page
@using TopAutoSpot.Models.Utilities;
@model TopAutoSpot.Views.MyVehicles.IndexModel
@{
    ViewData["Title"] = "My Vehicles";
}

<p class="fw-bold fs-1 website-text-darker-nohover">Your Listings</p>
<p class="fw-bold fs-4 website-text-nohover"><i>Here are all your listings, trade-only listings and auctions</i></p>
<hr />

<p class="fw-bold fs-3 website-text-nohover">ADD NEW</p>
<div class="mb-2 mt-2">
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/CarCRUD/Create">Car</a>
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/TruckCRUD/Create">Truck</a>
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/TrailerCRUD/Create">Trailer</a>
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/MotorcycleCRUD/Create">Motorcycle</a>
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/BoatCRUD/Create">Boat</a>
    <a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/BusCRUD/Create">Bus</a>
</div>
<hr />
<br />

@if (Model.OverallCount == 0)
{
    // No vehicles available.
    <div class="mt-3 mb-3">
        <h3 class="fw-bold website-text-darker-nohover">You don't have any vehicles!</h3>
        <p class="fw-bold website-text-nohover">You can add new anytime!</p>
    </div>

    <div class="mt-5 mb-5">
        <img class="custom-rounded mt-3 mb-3" src="~/gifs/noVehicles.gif" />
    </div>
}
else
{
    // Display all owned vehicles.
    <div class="d-flex flex-row mt-3 flex-wrap">
        @foreach (var auction in Model.Auctions)
        {
            <div class="d-flex flex-column mx-3 single-car">
                <a asp-page="/VehiclePreview/AuctionPreview" asp-route-id="@auction.Id" class="text-decoration-none fw-bold car-title mb-1">
                    <img class="listing-image custom-rounded" src="@Model.GetAuctionImage(auction.Id)" />

                    @if (auction.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", auction.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@auction.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@auction.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/AuctionCRUD/Edit" asp-route-id="@auction.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/AuctionCRUD/Delete" asp-route-id="@auction.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Cars)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/CarPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image custom-rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/CarCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/CarCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Motorcycles)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/MotorcyclePreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image custom-rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/MotorcycleCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/MotorcycleCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Trailers)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/TrailerPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image custom-rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/TrailerCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/TrailerCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Trucks)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/TruckPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image custom-rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/TruckCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/TruckCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Buses)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/BusPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image custom-rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/BusCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/BusCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Boats)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/BoatPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image custom-rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Status</p>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/BoatCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/BoatCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
    </div>
}

@if (User.IsInRole(RoleTypes.Administrator.ToString()) || User.IsInRole(RoleTypes.Premium.ToString()))
{
    <div class="mt-5">
        <h1 class="website-text-nohover fw-bold">News</h1>
        <hr />
    </div>

    <div class="border-top border-dark text-light bg-dark mb-3 mt-3 custom-rounded mx-auto">
        @if (Model.News.Count > 0)
        {

            <div class="d-flex flex-row flex-wrap justify-content-around">
                @foreach (var singleNew in Model.News)
                {
                    <div class="d-flex flex-column mx-3 single-new-box">
                        <a class="text-decoration-none" href="@singleNew.Url">
                            <img class="custom-rounded single-new-image mb-3" src="@singleNew.UrlToImage" />
                            <p class="text-light fw-bold">@singleNew.Title</p>
                        </a>
                    </div>
                }
            </div>

        }
        else
        {
            <h3 class="px-3 pt-3 pb-3 text-light">Error loading the news...</h3>
        }
    </div>

    <div>
        <hr />
    </div>
}