@page
@model TopAutoSpot.Views.MyVehicles.IndexModel
@{
    ViewData["Title"] = "My Vehicles";
}

<h1 class="mb-3 mt-4">@ViewData["Title"]</h1>
<hr />

<p><i>Here you will see all your vehicles.</i></p>
<hr />

<p class="text-info fw-bold">Add new:</p>
<a class="btn btn-outline-info fw-bold mt-2" asp-page="/MyVehicles/CarCRUD/Create">Car</a>
<a class="btn btn-outline-info fw-bold mt-2" asp-page="">Truck</a>
<a class="btn btn-outline-info fw-bold mt-2" asp-page="">Trailer</a>
<a class="btn btn-outline-info fw-bold mt-2" asp-page="">Motorcycle</a>
<a class="btn btn-outline-info fw-bold mt-2" asp-page="">Boat</a>
<a class="btn btn-outline-info fw-bold mt-2" asp-page="">Bus</a>
<hr />
<br />

@if (Model.OverallCount == 0)
{
    // No vehicles available.
    <img class="rounded-3 mt-3 mb-3" src="~/gifs/noVehicles.gif" />
}
else
{
    // Display all available vehicles.
    <div class="all-vehicles">
        @foreach (var vehicle in Model.Cars)
        {
            <h1>@vehicle.Title</h1>
            <h2>@vehicle.Make</h2>
            <h3>@vehicle.Model</h3>
            <a asp-page="/MyVehicles/CarCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
            <a asp-page="/MyVehicles/CarCRUD/Details" asp-route-id="@vehicle.Id">Details</a>
            <a asp-page="/MyVehicles/CarCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
        }
        @foreach (var vehicle in Model.Motorcycles)
        {

        }
        @foreach (var vehicle in Model.Trailers)
        {

        }
        @foreach (var vehicle in Model.Trucks)
        {

        }
        @foreach (var vehicle in Model.Buses)
        {

        }
        @foreach (var vehicle in Model.Boats)
        {

        }
    </div>
}