@page
@using System.Drawing;
@model TopAutoSpot.Views.MyVehicles.IndexModel
@{
    ViewData["Title"] = "My Vehicles";
}

<p class="fw-bold fs-2 text-dark">ADD NEW</p>
<a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/CarCRUD/Create">Car</a>
<a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/TruckCRUD/Create">Truck</a>
<a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/TrailerCRUD/Create">Trailer</a>
<a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/MotorcycleCRUD/Create">Motorcycle</a>
<a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/BoatCRUD/Create">Boat</a>
<a class="btn website-background-lighter text-light fw-bold" asp-page="/MyVehicles/BusCRUD/Create">Bus</a>
<hr class="" />
<br />

@if (Model.OverallCount == 0)
{
    // No vehicles available.
    <img class="rounded-3 mt-3 mb-3" src="~/gifs/noVehicles.gif" />
}
else
{
    // Display all owned vehicles.
    <div class="d-flex flex-row mt-3 flex-wrap">
        @foreach (var vehicle in Model.Cars)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/CarPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />                        
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/CarCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/CarCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Motorcycles)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/MotorcyclePreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/MotorcycleCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/MotorcycleCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Trailers)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/TrailerPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/TrailerCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/TrailerCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Trucks)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/TruckPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/TruckCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/TruckCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Buses)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/BusPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/BusCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/BusCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
        @foreach (var vehicle in Model.Boats)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/BoatPreview" asp-route-id="@vehicle.Id" class="text-decoration-none fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(vehicle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(vehicle.Id)" />
                    }

                    @if (vehicle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@string.Join("", vehicle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold text-dark listing-title">@vehicle.Title</p>
                    }
                </a>

                <div>
                    <a class="btn btn-outline-dark fw-bold" asp-page="/MyVehicles/BoatCRUD/Edit" asp-route-id="@vehicle.Id">Edit</a>
                    <a class="btn btn-outline-danger fw-bold" asp-page="/MyVehicles/BoatCRUD/Delete" asp-route-id="@vehicle.Id">Delete</a>
                </div>
            </div>
        }
    </div>
}