@page
@model TopAutoSpot.Views.VehiclePreview.BusPreviewModel
@{
    ViewData["Title"] = "Bus Preview";
}

<h1 class="fw-bold text-dark">@Model.Bus.Title</h1>
<h2 class="fw-bold website-text-nohover">@Model.Bus.Make @Model.Bus.Model</h2>
<hr />
<br />

<div class="d-flex flex-row justify-content-center mb-5">
    @if (!Model.HasAnyImages())
    {
        <div class="column mx-5">
            <img class="border border-dark custom-rounded preview-vehicle-image" src="~/images/noImageFound.png" />
        </div>
    }
    else
    {
        <div class="column mx-5">
            <img class="border border-dark custom-rounded preview-vehicle-image" src="@Model.GetImage()" />
        </div>
    }


    <div class="d-flex flex-column column mx-5 justify-content-center">
        @if (Model.Bus.Price > 0)
        {
            <p class="fw-bold website-text-nohover fs-4">Price: <i class="text-dark">@Model.Bus.Price</i></p>
        }
        <p class="fw-bold website-text-nohover fs-4">Listing Created At: <i class="text-dark">@Model.Bus.CreatedAt.ToString("MM/dd/yyyy")</i></p>
        <p class="fw-bold website-text-nohover fs-4">Location: <i class="text-dark">@Model.Bus.Location</i></p>
        <p class="fw-bold website-text-nohover fs-4">Manufacture Date: <i class="text-dark">@Model.Bus.ManufactureDate.ToString("MM/dd/yyyy")</i></p>
        @if (Model.Bus.Mileage != null)
        {
            <p class="fw-bold website-text-nohover fs-4">Mileage: <i class="text-dark">@Model.Bus.Mileage</i></p>
        }
        @if (Model.Bus.HorsePower != null)
        {
            <p class="fw-bold website-text-nohover fs-4">Horse Power: <i class="text-dark">@Model.Bus.HorsePower</i></p>
        }
        <p class="fw-bold website-text-nohover fs-4">Transmission: <i class="text-dark">@Model.Bus.Transmission</i></p>
        <p class="fw-bold website-text-nohover fs-4">Engine Type: <i class="text-dark">@Model.Bus.EngineType</i></p>
        <p class="fw-bold website-text-nohover fs-4">Euro Standart: <i class="text-dark">@Model.Bus.EuroStandart</i></p>
        <p class="fw-bold website-text-nohover fs-4">Axles Count: <i class="text-dark">@Model.Bus.AxlesCount</i></p>
        <p class="fw-bold website-text-nohover fs-4">Seats Count: <i class="text-dark">@Model.Bus.SeatsCount</i></p>
        <p class="fw-bold website-text-nohover fs-4">Load Capacity: <i class="text-dark">@Model.Bus.LoadCapacity</i></p>
    </div>
</div>

@if (Model.Bus.Description != null && Model.Bus.Description != "")
{
    <p class="fw-bold text-dark fs-3">Description</p>
    <div class="border border-dark text-start mb-4">
        @if (Model.Bus.Description[Model.Bus.Description.Length - 1].ToString() != ".")
        {
            <p class="fw-bold website-text-nohover fs-5 px-2 pt-2 pb-2">@Model.Bus.Description.</p>
        }
        else
        {
            <p class="fw-bold website-text-nohover fs-5 px-2 pt-2 pb-2">@Model.Bus.Description</p>
        }
    </div>
}

<div class="mt-5">
    <h2 class="text-dark fw-bold fs-3">Vehicle Owner Info</h2>
    <p class="fw-bold website-text-nohover fs-5">@Model.GetOwnerFullName()</p>
    @if (Model.GetOwnerNumber() != null)
    {
        <p class="fw-bold website-text-nohover fs-5">Phone Number: @Model.GetOwnerNumber()</p>
    }
</div>

<div class="mt-5">
    <h2 class="text-dark fw-bold fs-3">All Listing Images</h2>

    <div>
        @foreach (var image in Model.Images)
        {
            <img class="preview-vehicle-list-images" src="@Model.GetImageSource(image)" />
        }
    </div>
</div>