@page
@model TopAutoSpot.Views.VehiclePreview.MotorcyclePreviewModel
@{
    var ownerFullName = Model.GetOwnerFullName();
    var ownerNumber = Model.GetOwnerNumber();
}

<h1 class="fw-bold text-dark">@Model.Motorcycle.Title</h1>
<h2 class="fw-bold website-text-nohover">@Model.Motorcycle.Make @Model.Motorcycle.Model</h2>
<hr />
<br />

<div class="d-flex flex-row justify-content-center mb-5">
    @if (!Model.HasAnyImages())
    {
        <div class="column mx-5">
            <img class="border border-dark rounded preview-vehicle-image" src="~/images/noImageFound.png" />
        </div>
    }
    else
    {
        <div class="column mx-5">
            <img class="border border-dark rounded preview-vehicle-image" src="@Model.GetImage()" />
        </div>
    }


    <div class="d-flex flex-column column mx-5 justify-content-center">
        <p class="fw-bold website-text-nohover fs-4">Price: <i class="text-dark">@Model.Motorcycle.Price</i></p>
        <p class="fw-bold website-text-nohover fs-4">Listing Created At: <i class="text-dark">@Model.Motorcycle.CreatedAt.ToString("MM/dd/yyyy")</i></p>
        <p class="fw-bold website-text-nohover fs-4">Location: <i class="text-dark">@Model.Motorcycle.Location</i></p>
        <p class="fw-bold website-text-nohover fs-4">Manufacture Date: <i class="text-dark">@Model.Motorcycle.ManufactureDate.ToString("MM/dd/yyyy")</i></p>
        @if (Model.Motorcycle.Mileage != null)
        {
            <p class="fw-bold website-text-nohover fs-4">Mileage: <i class="text-dark">@Model.Motorcycle.Mileage</i></p>
        }
        @if (Model.Motorcycle.HorsePower != null)
        {
            <p class="fw-bold website-text-nohover fs-4">Horse Power: <i class="text-dark">@Model.Motorcycle.HorsePower</i></p>
        }
        <p class="fw-bold website-text-nohover fs-4">Cubic Capacity: <i class="text-dark">@Model.Motorcycle.CubicCapacity</i></p>

        <p class="fw-bold website-text-nohover fs-4">Transmission: <i class="text-dark">@Model.Motorcycle.Transmission</i></p>
        <p class="fw-bold website-text-nohover fs-4">Engine Type: <i class="text-dark">@Model.Motorcycle.EngineType</i></p>
        <p class="fw-bold website-text-nohover fs-4">Engine Strokes: <i class="text-dark">@Model.Motorcycle.EngineStrokes</i></p>
        <p class="fw-bold website-text-nohover fs-4">Cooling Type: <i class="text-dark">@Model.Motorcycle.CoolingType</i></p>
    </div>
</div>

@if (Model.Motorcycle.Description != null && Model.Motorcycle.Description != "")
{
    <p class="fw-bold text-dark fs-3">Description</p>
    <div class="border border-dark text-start mb-4">
        @if (Model.Motorcycle.Description[Model.Motorcycle.Description.Length - 1].ToString() != ".")
        {
            <p class="fw-bold website-text-nohover fs-5 px-2 pt-2 pb-2">@Model.Motorcycle.Description.</p>
        }
        else
        {
            <p class="fw-bold website-text-nohover fs-5 px-2 pt-2 pb-2">@Model.Motorcycle.Description</p>
        }
    </div>
}

<div class="mt-5">
    <h2 class="text-dark fw-bold fs-3">Vehicle Owner Info</h2>
    <p class="fw-bold website-text-nohover fs-5">@ownerFullName</p>
    @if (ownerNumber != null)
    {
        <p class="fw-bold website-text-nohover fs-5">Phone Number: @ownerNumber</p>
    }
</div>

<div class="mt-5">
    <h2 class="text-dark fw-bold fs-3">All Listing Images</h2>

    <div>
        @foreach (var image in Model.Images)
        {
            <img class="preview-vehicle-list-images" src="@Model.GetImageSource(image)" />
        }
    </div>
</div>