@page
@model TopAutoSpot.Views.VehiclePreview.TrailerPreviewModel
@{
    var ownerFullName = Model.GetOwnerFullName();
    var ownerNumber = Model.GetOwnerNumber();
}

<h1 class="fw-bold text-dark">@Model.Trailer.Title</h1>
<hr />
<br />

<div class="d-flex flex-row justify-content-center mb-5">
    @if (!Model.HasAnyImages())
    {
        <div class="column mx-5">
            <img class="border border-dark rounded preview-vehicle-image" src="~/images/noImageFound.png" />
        </div>
    }
    else
    {
        <div class="column mx-5">
            <img class="border border-dark rounded preview-vehicle-image" src="@Model.GetImage()" />
        </div>
    }


    <div class="d-flex flex-column column mx-5 justify-content-center">
        <p class="fw-bold website-text-nohover fs-4">Price: <i class="text-dark">@Model.Trailer.Price</i></p>
        <p class="fw-bold website-text-nohover fs-4">Listing Created At: <i class="text-dark">@Model.Trailer.CreatedAt.ToString("MM/dd/yyyy")</i></p>
        <p class="fw-bold website-text-nohover fs-4">Location: <i class="text-dark">@Model.Trailer.Location</i></p>
        <p class="fw-bold website-text-nohover fs-4">Manufacture Date: <i class="text-dark">@Model.Trailer.ManufactureDate.ToString("MM/dd/yyyy")</i></p>
        <p class="fw-bold website-text-nohover fs-4">Payload: <i class="text-dark">@Model.Trailer.Payload</i></p>
        <p class="fw-bold website-text-nohover fs-4">Axle Count: <i class="text-dark">@Model.Trailer.AxleCount</i></p>

    </div>
</div>

@if (Model.Trailer.Description != null && Model.Trailer.Description != "")
{
    <p class="fw-bold text-dark fs-3">Description</p>
    <div class="border border-dark text-start mb-4">
        @if (Model.Trailer.Description[Model.Trailer.Description.Length - 1].ToString() != ".")
        {
            <p class="fw-bold website-text-nohover fs-5 px-2 pt-2 pb-2">@Model.Trailer.Description.</p>
        }
        else
        {
            <p class="fw-bold website-text-nohover fs-5 px-2 pt-2 pb-2">@Model.Trailer.Description</p>
        }
    </div>
}

<div class="mt-5">
    <h2 class="text-dark fw-bold fs-3">Vehicle Owner Info</h2>
    <p class="fw-bold website-text-nohover fs-5">@ownerFullName</p>
    @if (ownerNumber != null)
    {
        <p class="fw-bold website-text-nohover fs-5">Phone Number: @ownerNumber</p>
    }
</div>

<div class="mt-5">
    <h2 class="text-dark fw-bold fs-3">All Listing Images</h2>

    <div>
        @foreach (var image in Model.Images)
        {
            <img class="preview-vehicle-list-images" src="@Model.GetImageSource(image)" />
        }
    </div>
</div>