@page
@model TopAutoSpot.Views.VehiclePreview.TruckPreviewModel
@{
    var ownerFullName = Model.GetOwnerFullName();
    var ownerNumber = Model.GetOwnerNumber();
}

<h1 class="fw-bold site-text-darker-color">@Model.Truck.Title</h1>
<h2 class="fw-bold site-text-darker-color">@Model.Truck.Make @Model.Truck.Model</h2>
<hr />
<br />

<div class="d-flex flex-row justify-content-center mb-5">
    <div class="column mx-5">
        <img class="border border-dark rounded preview-vehicle-image" src="~/images/noImageFound.png" />
    </div>

    <div class="d-flex flex-column column mx-5 justify-content-center">
        <p class="fw-bold site-text-color fs-4">Price: @Model.Truck.Price</p>
        <p class="fw-bold site-text-color fs-4">Listing Created At: @Model.Truck.CreatedAt.ToString("MM/dd/yyyy")</p>
        <p class="fw-bold site-text-color fs-4">Location: @Model.Truck.Location</p>
        <p class="fw-bold site-text-color fs-4">Manufacture Date: @Model.Truck.ManufactureDate.ToString("MM/dd/yyyy")</p>
        @if (Model.Truck.Mileage != null)
        {
            <p class="fw-bold site-text-color fs-4">Mileage: @Model.Truck.Mileage</p>
        }
        @if (Model.Truck.HorsePower != null)
        {
            <p class="fw-bold site-text-color fs-4">Horse Power: @Model.Truck.HorsePower</p>
        }
        <p class="fw-bold site-text-color fs-4">Transmission: @Model.Truck.Transmission</p>
        <p class="fw-bold site-text-color fs-4">Engine Type: @Model.Truck.EngineType</p>
        <p class="fw-bold site-text-color fs-4">Euro Standart: @Model.Truck.EuroStandart</p>
        <p class="fw-bold site-text-color fs-4">Payload: @Model.Truck.Payload</p>
        <p class="fw-bold site-text-color fs-4">Axles Count: @Model.Truck.AxlesCount</p>
    </div>
</div>

@if (Model.Truck.Description != null && Model.Truck.Description != "")
{
    <p class="fw-bold site-text-darker-color fs-3">Description</p>
    <div class="border border-dark text-start mb-4">
        @if (Model.Truck.Description[Model.Truck.Description.Length - 1].ToString() != ".")
        {
            <p class="fw-bold site-text-color fs-5 px-2 pt-2 pb-2">@Model.Truck.Description.</p>
        }
        else
        {
            <p class="fw-bold site-text-color fs-5 px-2 pt-2 pb-2">@Model.Truck.Description</p>
        }
    </div>
}

<div class="mt-5">
    <h2 class="site-text-darker-color fw-bold fs-3">Vehicle Owner Info</h2>
    <p class="fw-bold site-text-color fs-5">@ownerFullName</p>
    @if (ownerNumber != null)
    {
        <p class="fw-bold site-text-color fs-5">Phone Number: @ownerNumber</p>
    }
</div>