@page
@model TopAutoSpot.Views.Buy.BusListingsModel
@{
    ViewData["Title"] = "Bus Listings";
}

<div class="mb-3 mt-3">
    <h1 class="fw-bold site-text-color">All Bus Listings</h1>
    <hr />
    <br />
    <div class="d-flex flex-row mt-3">
        @foreach (var bus in Model.Buses)
        {
            <div class="d-flex flex-column mx-3 single-bus ">
                <a asp-page="/VehiclePreview/BusPreview" asp-route-id="@bus.Id" class="text-decoration-none site-text-color-btn fw-bold bus-title mb-1">
                    @if (!Model.HasAnyImages(bus.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(bus.Id)" />
                    }

                    @if (bus.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold website-text-darker listing-title">@string.Join("", bus.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold website-text-darker listing-title">@bus.Title</p>
                    }

                    <p class="fs-6 text-dark mb-0">@bus.Location</p>
                    <p class="fs-5 fw-bold website-text-main">@bus.Price лв.</p>
                </a>
            </div>
        }
    </div>
</div>
