@page
@model TopAutoSpot.Views.Buy.MotorcycleListingsModel
@{
    ViewData["Title"] = "Motorcycle Listings";
}

<div class="mb-3 mt-3">
    <h1 class="fw-bold site-text-color">All Motorcycle Listings</h1>
    <hr />
    <br />

    @if (Model.Motorcycles.Count == 0)
    {
        <h3 class="text-danger fw-bold fs-4">No Boats Available :(</h3>

        <br />

        <img class="rounded-3 mt-3 mb-3" src="~/gifs/noVehicleListingsAvailable.gif" />
    }
    else
    {
    <div class="d-flex flex-row mt-3">
        @foreach (var motorcycle in Model.Motorcycles)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/MotorcyclePreview" asp-route-id="@motorcycle.Id" class="text-decoration-none site-text-color-btn fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(motorcycle.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(motorcycle.Id)" />
                    }

                    @if (motorcycle.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold website-text-darker listing-title">@string.Join("", motorcycle.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold website-text-darker listing-title">@motorcycle.Title</p>
                    }

                    <p class="fs-6 text-dark mb-0">@motorcycle.Location</p>
                    <p class="fs-5 fw-bold website-text-main">@motorcycle.Price лв.</p>
                </a>
            </div>
        }
    </div>
    }
</div>
