@page
@model TopAutoSpot.Views.Buy.TrailerListingsModel
@{
    ViewData["Title"] = "Trailer Listings";
}

<div class="mb-3 mt-3">
    <h1 class="fw-bold site-text-color">All Trailer Listings</h1>
    <hr />
    <br />
    @if (Model.Trailers.Count == 0)
    {
        <h3 class="text-danger fw-bold fs-4">No Boats Available :(</h3>

        <br />

        <img class="rounded-3 mt-3 mb-3" src="~/gifs/noVehicleListingsAvailable.gif" />
    }
    else
    {
    <div class="d-flex flex-row mt-3">
        @foreach (var trailer in Model.Trailers)
        {
            <div class="d-flex flex-column mx-3 single-car ">
                <a asp-page="/VehiclePreview/TrailerPreview" asp-route-id="@trailer.Id" class="text-decoration-none site-text-color-btn fw-bold car-title mb-1">
                    @if (!Model.HasAnyImages(trailer.Id))
                    {
                        <img class="listing-image rounded" src="~/images/noImageFound.png" />
                    }
                    else
                    {
                        <img class="listing-image rounded" src="@Model.GetImage(trailer.Id)" />
                    }

                    @if (trailer.Title.Length > 22)
                    {
                        <p class="fs-4 fw-bold website-text-darker listing-title">@string.Join("", trailer.Title.Take(22))..</p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold website-text-darker listing-title">@trailer.Title</p>
                    }

                    <p class="fs-6 text-dark mb-0">@trailer.Location</p>
                    <p class="fs-5 fw-bold website-text-main">@trailer.Price лв.</p>
                </a>
            </div>
        }
    </div>
    }
</div>
