@page
@using TopAutoSpot.Data.Models.Enums;
@model TopAutoSpot.Views.Buy.TruckListingsModel
@{
    ViewData["Title"] = "Truck Listings";
    var interestedListings = Model.GetInterestedVehicles();
}

<div class="mb-3 mt-3">
    <h1 class="fw-bold website-text-nohover">All Truck Listings</h1>
    <hr />
    <br />
    @if (Model.Trucks.Count == 0)
    {
        <h3 class="text-danger fw-bold fs-4">No Trucks Available :(</h3>

        <br />

        <img class="custom-rounded mt-3 mb-3" src="~/gifs/noVehicleListingsAvailable.gif" />
    }
    else
    {
        <div class="mt-3 mb-3">
            <form method="post">
                <select class="text-light website-background-main fw-bold" asp-for="@Model.OrderSetting">
                    <option value="None">None</option>
                    <option value="Oldest">Oldest First</option>
                    <option value="Newest">Newest First</option>
                    <option value="Cheapest">Cheapest First</option>
                    <option value="Expensive">Expensive First</option>
                </select>

                <div class="form-group mt-3 mb-2">
                    <input type="submit" value="Order" class="text-light btn website-background-main fw-bold" />
                </div>
            </form>
        </div>

        <div class="d-flex flex-row flex-wrap mt-3">
            @foreach (var truck in Model.Trucks)
            {
                <div class="d-flex flex-column mx-3 single-car ">
                    <a asp-page="/VehiclePreview/TruckPreview" asp-route-id="@truck.Id" class="text-decoration-none site-text-color-btn fw-bold car-title mb-1">
                        @if (!Model.HasAnyImages(truck.Id))
                        {
                            <img class="listing-image custom-rounded" src="~/images/noImageFound.png" />
                        }
                        else
                        {
                            <img class="listing-image custom-rounded" src="@Model.GetImage(truck.Id)" />
                        }

                        @if (truck.Title.Length > 22)
                        {
                            <p class="fs-4 fw-bold website-text-darker listing-title">@string.Join("", truck.Title.Take(22))..</p>
                        }
                        else
                        {
                            <p class="fs-4 fw-bold website-text-darker listing-title">@truck.Title</p>
                        }

                        <p class="fs-6 text-dark mb-0">@truck.Location</p>
                        <p class="fs-5 fw-bold website-text-main">@truck.Price лв.</p>
                    </a>

                    @if (!interestedListings.Any(l => l.VehicleId == truck.Id))
                    {
                        <a class="btn btn-outline-warning" asp-page="/InterestedIn/InterestInVehicle" asp-route-vehicleId="@truck.Id" asp-route-vehicleCategory="truck">💡</a>
                    }
                </div>
            }
        </div>
    }
</div>

@if (User.IsInRole(RoleTypes.User.ToString()) || !User.Identity!.IsAuthenticated)
{
    <div class="mt-5">
        <h1 class="website-text-nohover fw-bold">News</h1>
        <hr />
    </div>

    <div class="border-top border-dark text-light bg-dark mb-3 mt-3 custom-rounded mx-auto">
        @if (Model.News.Count > 0)
        {

            <div class="d-flex flex-row flex-wrap justify-content-around">
                @foreach (var singleNew in Model.News)
                {
                    <div class="d-flex flex-column mx-3 single-new-box">
                        <a class="text-decoration-none" href="@singleNew.Url">
                            <img class="custom-rounded single-new-image mb-3" src="@singleNew.UrlToImage" />
                            <p class="text-light fw-bold">@singleNew.Title</p>
                        </a>
                    </div>
                }
            </div>

        }
        else
        {
            <h3 class="px-3 pt-3 pb-3 text-light">Error loading the news...</h3>
        }
    </div>

    <div>
        <hr />
    </div>
}